.menu {
    height: 100%;
    .nav-bar{
        height: 100%;
        .nav-item {
            height: 100%;
        }
    }
}

.menu {
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .nav-item {
            display: flex;
            align-items: center;
            padding-right: 30px;

            &:last-child {
                padding-right: 0px;
            }
        }
    }
}

.menu {
    .nav-bar {
        .nav-item {

            a {
                display: inline-block;
                position: relative;
                font-family: $app-font;
                font-size: 2.2rem;
                font-weight: 300;
                color: rgba( $color-white, .6);
                transition: color ease .15s;
            }

            &:hover {
                a {
                    color: rgba( $color-white, 1);
                }
            }

            a {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(-50%, 75%);
                    background-color: $color-white;
                    transition: width ease-in .15s;
                }
            }

            &:hover {
                a {
                    &::before {
                        width: 110%;
                    }
                }
            }
        }
    }
}