.mc-ench-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mc-ench {
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 9px 18px;
    margin: 10px;
    border: solid 1px $color-light-gray;
    border-radius: 3px;

    input[type=text] {
        width: 60px;
        padding: 6px 6px;
        border: solid 3px $color-light-gray;
        border-radius: 3px;
        text-align: center;
        transition: border-color ease .15s;

        &:focus {
            border-color: $color-blue;
        }
    }

    .custom-check {
        &:hover {
            span {
                color: inherit;

                &::after {
                    width: 0%;
                }
            }
        }
    }

    &:hover {
        background-color: $color-red;
        
        .custom-check {
            span {
                color: $color-white;
            }
        }
    }
}